@import url(../../assets/css/main.css);

body {
  background: url(../../assets/images/bg-dashboard.jpg) no-repeat;
  background-size: cover;
  min-height: 100vh;
  overflow-x: hidden;
}

.app {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  transition: 0.2s;
}

header {
  padding: 1rem 0 2rem 0;
}

nav,
.add-refresh-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

.menu-icon,
.search-icon {
  height: 45px;
  z-index: 1;
  cursor: pointer;
  transition: 0.3s;
}

.menu-icon:hover,
.search-icon:hover,
.delete-exit:hover,
.refresh:hover .refresh-icon {
  color: white;
}

#search-bar-container {
  width: 80%;
  transition: 0.3s;
}

#search-bar {
  width: 85%;
  height: 45px;
  border-radius: 54px;
  outline: none;
  border: solid 2px #9cb5f9;
  color: white;
  font-size: 0.9rem;
  background: none;
  padding: 0 1rem;
  text-align: left;
  transition: 0.3s;
  display: none;
}

#search-bar:hover,
.todo-main:hover,
.todo-circle:hover,
.add-wrapper:hover {
  border-color: white;
}

#search-bar::placeholder {
  color: white;
  transition: 0.3s;
}

#search-bar:focus::placeholder {
  opacity: 0;
}

h1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin: 1rem 0;
  font-weight: 200;
  font-style: italic;
  user-select: none;
  transition: 0.3s;
}

#name {
  font-weight: 500;
  margin-left: 0.5rem;
  overflow: auto;
}

.ff-icon {
  margin-right: 0.5rem;
  display: none;
}

.add,
.refresh {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-left: 1rem;
  background-color: #061b52;
  border: solid 1px #9cb5f9;
  height: 44px;
  width: 260px;
  border-radius: 54px;
  transition: 0.3s;
  cursor: pointer;
}

.add:hover,
.refresh:hover {
  border-color: white;
}

#add-container {
  display: none;
}

.add-wrapper {
  width: 100%;
  height: 110px;
  border-radius: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.05);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #9cb5f9;
  backdrop-filter: blur(5px);
  margin-top: 1rem;
  transition: 0.3s;
}

.add-icon,
.refresh-icon {
  height: 25px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.text-add {
  user-select: none;
}

.refresh {
  width: 44px;
  height: 44px;
  padding: 0;
  justify-content: center;
}

.refresh-icon {
  color: #9cb5f9;
  margin: 0;
}

.title {
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.title-done {
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.stripe {
  background-color: #9cb5f9;
  border-radius: 54px;
  height: 2px;
  width: 100%;
}

.text-stripe {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 0.5rem;
  user-select: none;
  cursor: pointer;
}

.stripe-icon {
  width: 1.2rem;
  height: 1.2rem;
}

.title-main {
  margin: 0 0.5rem;
}

.margin-3rem {
  margin-bottom: 3rem;
}

.todo-section {
  width: 100%;
  transition: 0.3s;
}

.todo-wrapper {
  width: 100%;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: wrap;
  margin-bottom: 2rem;
  user-select: none;
}

.todo-main,
.todo-circle {
  width: 81%;
  height: 55px;
  background-color: #061b52;
  border-radius: 94px;
  border: solid 1px #9cb5f9;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1rem;
  transition: 0.3s;
  z-index: 3;
}

.todo-main {
  cursor: default;
}

.todo-text-container {
  width: 100%;
  height: 100%;
  margin-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.todo-icon-container {
  height: 28px;
  cursor: pointer;
}

.todo-icon-container:hover::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  filter: drop-shadow(4px -1px 4px rgba(0, 0, 0, 0.8));
  cursor: pointer;
}

.delete-hover-after:hover::after {
  display: none;
}

.todo-icon-container svg {
  border-radius: 30px;
}

circle,
.todo-done-icon {
  transition: 0.3s;
}

.todo-icon-container:hover circle {
  stroke: #9cb5f9;
  stroke-width: 120%;
}

.todo-done-icon:hover {
  color: white;
}

.todo-text {
  max-width: 86%;
  white-space: nowrap;
  overflow-x: auto;
}

.todo-circle {
  width: 55px;
  justify-content: center;
  padding: 0;
}

.dots-icon {
  transition: 0.3s;
  padding: 13.5px;
}

.todo-circle img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  filter: invert(69%) sepia(35%) saturate(762%) hue-rotate(194deg)
    brightness(99%) contrast(97%);
  transition: 0.3s;
}

.todo-circle img:hover {
  filter: invert(100%) sepia(47%) saturate(0%) hue-rotate(156deg)
    brightness(112%) contrast(100%);
  width: 32px;
  height: 32px;
}

.settings-shown-main {
  width: 58% !important;
}

.settings-shown-circle {
  width: 35% !important;
  cursor: pointer !important;
}

.delete {
  margin: 0 0.5rem;
}

.todo-circle:hover .dots-icon {
  color: white;
}

#done,
#title {
  display: none;
}

.todo-text-done {
  text-decoration: line-through;
}

.error-container {
  display: none;
}

.error-header {
  margin-bottom: 1.5rem;
  user-select: none;
}

.wrong-icon {
  width: 30px;
  margin-right: 0.5rem;
}

button {
  width: 180px;
  padding: 8px 0px;
  background: none;
  border: none;
  border: 2px solid #5ff5f7;
  border-radius: 62px;
  transition: 0.3s;
  cursor: pointer;
  user-select: none;
}

button:hover {
  border: 2px solid white;
}

/* Loading Animation */

.loading-container,
.error-container,
.warning {
  width: 270px;
  height: 270px;
  background-color: white;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  margin-bottom: 2rem;
  user-select: none;
}

.loading {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.lds-ring {
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.warning-container {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 1;
  display: none;
}

.warning {
  backdrop-filter: blur(15px);
}

.warning-content {
  margin-bottom: 1.5rem;
  font-weight: 500;
  font-style: italic;
}

.delete-icon {
  width: 36px;
  margin-right: 0.5rem;
}

.warning-text {
  font-size: 1.2rem;
}

.delete-button {
  border: 2px solid #fd5fec;
  font-size: 0.9rem;
}

.delete-exit {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s;
}

#button-edit {
  margin-top: 1.5rem;
}

.edit-popup {
  height: 450px;
  width: 360px;
}

tr {
  height: 40px;
}

td {
  padding: 0 1rem;
}

.td-text,
textarea,
table input {
  text-align: left;
  font-weight: 200;
}

.title-edit {
  white-space: nowrap;
  overflow-y: hidden;
}

.date-edit {
  width: 200px;
}

.td-text {
  font-weight: 500;
  overflow: auto;
}

textarea {
  resize: none;
}

textarea,
table input {
  background: none;
  border: none;
  outline: none;
  color: white;
  padding-right: 0.5rem;
  padding-bottom: 0.2rem;
  font-size: 1rem;
}

#category-edit {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-edit-container {
  position: relative;
  font-size: 22px;
  user-select: none;
}

.checkbox-edit-container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkbox-edit {
  height: 25px;
  width: 25px;
  border: 2px solid #5ff5f7;
  border-radius: 30px;
  transition: 0.1s;
  cursor: pointer;
}

.checkbox-edit:hover {
  border-width: 6px;
}

.checkbox-edit-container input:checked ~ .checkbox-edit {
  border: none;
  background-color: #5ff5f7;
}

.checkbox-edit:after {
  content: "";
  display: none;
}

.checkbox-edit-container input:checked ~ .checkbox-edit:after {
  display: block;
}

.checkbox-edit-container .checkbox-edit:after {
  position: absolute;
  top: 5px;
  left: 96px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  filter: drop-shadow(4px -1px 4px rgba(0, 0, 0, 0.8));
}

#edit-button {
  border-color: #5ff5f7;
  transition: 0.3s;
}

#edit-button:hover,
.todo-desc:hover {
  border-color: white;
}

#edit,
#warning {
  position: fixed;
}

.todo-desc {
  width: 81%;
  height: 110px;
  padding: 1rem;
  border-radius: 25px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.05);
  overflow: hidden;
  border: solid 1px #9cb5f9;
  backdrop-filter: blur(5px);
  margin-top: 2rem;
  transition: 0.3s;
}

.desc-icon {
  width: 28px;
  height: 28px;
}

.desc-text {
  margin-left: 1rem;
}

#todos-container {
  align-items: flex-start;
}

#title-edit::placeholder,
#desc-edit::placeholder {
  color: #9cb5f9;
  transition: 0.3s;
}

#title-edit:focus::placeholder,
#desc-edit:focus::placeholder {
  opacity: 0;
}

@media (min-width: 1000px) {
  #todos-container,
  #todos-done-container {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 1rem 10%;
  }
}
