.settings-container {
  width: 100%;
  height: 100vh;
  z-index: 10;
  position: absolute;
}

.settings {
  width: 250px;
  height: 100%;
  background-color: #061b52;
  border-right: 1px solid #9cb5f9;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
  padding: 0rem 2rem;
}

#settings-close {
  z-index: 11;
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}

.settings-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.settings-list li {
  text-align: left;
  list-style-type: none;
  margin-bottom: 2rem;
}

.settings-list li:first-child {
  text-align: center;
  user-select: none;
  font-size: 4.1rem;
}

#hours {
  font-weight: 500;
}

#minutes {
  font-weight: 200;
}

.logout-button {
  width: 185px;
  padding: 10px 10px;
  transition: 0.3s;
  border: 1px solid #9cb5f9;
}

.logout-button:hover {
  color: #ff6969;
  border: 1px solid #9cb5f9;
}

.footer-settings {
  position: absolute;
  bottom: 1rem;
}

.footer-text-settings {
  font-size: 0.8em;
  font-weight: 200;
  user-select: none;
}

.hide-scroll {
  overflow-y: hidden;
}

.settings-opacity {
  opacity: 0.1;
}

#todo-count li {
  font-size: 1rem;
  text-align: left;
}

#todo-count li:last-child {
  margin-bottom: 0;
}

#todo-count li:first-child {
  user-select: auto;
}

#todo-count li span:last-child {
  color: #9cb5f9;
}

#ampm {
  position: absolute;
  font-size: 1.313rem;
  margin: 0 0 6rem 6rem;
}
