.slideInLeft {
  animation-name: slideInLeft;
  animation-duration: 0.8s;
  animation-fill-mode: both;
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-150%);
    visibility: visible;
  }
  100% {
    transform: translateX(0);
  }
}

.slideInLeftSettings {
  animation-name: slideInLeft;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    transform: translateX(0);
  }
}

.slideInRight {
  animation-name: slideInRight;
  animation-duration: 0.6s;
  animation-fill-mode: both;
}
@keyframes slideInRight {
  0% {
    transform: translateX(150%);
    visibility: visible;
  }
  100% {
    transform: translateX(0);
  }
}

.slideOutRight {
  animation-name: slideOutRight;
  animation-duration: 0.6s;
  animation-fill-mode: both;
}
@keyframes slideOutRight {
  0% {
    transform: translateX(0);
  }
  100% {
    visibility: hidden;
    transform: translateX(150%);
  }
}

.slideOutLeft {
  animation-name: slideOutLeft;
  animation-duration: 0.8s;
  animation-fill-mode: both;
}
@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    visibility: hidden;
    transform: translateX(-150%);
  }
}

.slideOutLeftSettings {
  animation-name: slideOutLeft;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    visibility: hidden;
    transform: translateX(-100%);
  }
}

.slideInDown {
  animation-name: slideInDown;
  animation-duration: 0.8s;
  animation-fill-mode: both;
}
@keyframes slideInDown {
  0% {
    transform: translateY(-150%);
    visibility: visible;
  }
  100% {
    transform: translateY(0);
  }
}

.slideInDownDesc {
  animation-name: slideInDown;
  animation-duration: 0.4s;
  animation-fill-mode: both;
}
@keyframes slideInDown {
  0% {
    transform: translateY(-80%);
    visibility: visible;
  }
  100% {
    transform: translateY(0);
  }
}

.slideOutDown {
  animation-name: slideOutDown;
  animation-duration: 0.8s;
  animation-fill-mode: both;
}
@keyframes slideOutDown {
  0% {
    transform: translateY(0);
  }
  100% {
    visibility: hidden;
    transform: translateY(150%);
  }
}

.slideOutUpDesc {
  animation-name: slideOutUp;
  animation-duration: 0.4s;
  animation-fill-mode: both;
}
@keyframes slideOutUp {
  0% {
    transform: translateY(0);
  }
  100% {
    visibility: hidden;
    transform: translateY(-80%);
  }
}

.flipInY {
  backface-visibility: visible !important;
  animation-name: flipInY;
  animation-duration: 1.2s;
  animation-fill-mode: both;
}
@keyframes flipInY {
  0% {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transition-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
  100% {
    transform: perspective(400px);
  }
}

.flipOutY {
  backface-visibility: visible !important;
  animation-name: flipOutY;
  animation-duration: 1.2s;
  animation-fill-mode: both;
}
@keyframes flipOutY {
  0% {
    transform: perspective(400px);
  }
  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1;
  }
  100% {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
}
