input[type="datetime-local"] {
    padding: 5px 10px;
    border-radius: 30px;
}

::-webkit-calendar-picker-indicator {
    padding: 3px;
    margin: 0;
    border-radius: 3px;
    filter: invert(83%) sepia(76%) saturate(368%) hue-rotate(108deg) brightness(104%) contrast(93%) drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}
